 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$small-screen: em(320); //max-device-width;
// $medium-screen: ;
// $large-screen: ;

$serif:'Droid Serif', serif;
$sans-serif-body:'Open Sans', sans-serif;
$sans-serif-display: 'Oswald', sans-serif;

$primary-dark-color: #3C474D; //brown #271D17
$primary-light-color: #E1DED2; //#E0DCCC; //ecru #F7FAE7 #d6d6c9
$primary-accent-color: #0AD795; //#55E1D9; //#33CCFF; //green:  //#D7624E #FFD21D #DC4A41
$primary-lightest-color: #F2F0E6;

html{
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
}

.wrapper {
  height: 100%;
}

header {
  @include media($medium-screen) {
    padding-left: 2.7em;
    padding-right: 2.0em;
  }
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: $primary-dark-color;
  opacity: 0.95;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 1.4em;
  z-index: 200;
  nav {
    @include outer-container;
    .corner {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    ul.header-social {
      @include media($small-screen) {
        display: none;
        // border: red solid 1px;
      }
      @include media($medium-screen) {
        @include span-columns(4);
        float: right;
        margin-top: 8px;
        // border: green solid 1px;
      }
      @include span-columns(2);
      display: inline-block;
      margin-top: 1em;
      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }
      li {
        float: right;
        font-size: 1em;
        padding-right: .7em;
        &:first-child {
          padding-right: 0;
        }
      }
      img {
        opacity: .5;
        height: 2.0em;
        padding: 1px;
        &:hover {
          opacity: 1;
        }
      }
    }
    >h1  {
      @include media($small-screen) {
        @include span-columns(12);
        text-align: center;
      }
      @include media($medium-screen) {
        @include span-columns(8);
        text-align: left;
        padding-left: 20px;
        // border: blue solid 1px;
      }
      @include span-columns(10);
      padding-left: 0px;
      // @include shift(1);
      // text-align: center;
      >a {
        color: $primary-lightest-color;
        font-family: $serif;
        font-weight: 400;
        // font-style: italic;
        opacity: 1.0;
        font-size: 1.0em;
        >span {
          color: $primary-accent-color;
          &:hover {
          color: $primary-light-color;
          }
        }
        &:hover {
          color: $primary-accent-color;
        }
      }
    } 
  }
}
///////////////////////////////////////////////// HERO //////////////////////////////////////////////


.hero {
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../images/hero_landfill_1280_crop_grey.jpg';
  @include background(url($hero-image), no-repeat scroll);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    @include media($small-screen) {
      padding: 10em;
      padding-top: 100px;
      padding-left: 80px;
      padding-right: 80px;
      margin: auto;
      text-align: center;
      color: $hero-color;

    }
    @include media($medium-screen) {
      padding: 10em;
      padding-top: 100px;
      padding-left: 150px;
      padding-right: 150px;
    }
    .hero-copy {
      text-align: center;
      h2 {
        @include media($small-screen) {
          font-size: 1.75em;
          color: $primary-dark-color;
          margin-bottom: .5em;
          font-family: $sans-serif-display;
          text-shadow: 3px 1px 3px $primary-lightest-color; 
        }
        @include media($medium-screen) {
          font-size: 2.5em;
        }
        @include media($large-screen) {
          font-size: 3.0em;
        }
      }
      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em; 
        font-weight: 200;
        line-height: 1.4em;
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

///////////////////////////////////////////////// CTA + ANIMA //////////////////////////////////////////////
// i{
//   position:absolute;
//   top:50px;
//   left:50px;
//   width:100px;
//   height:100px;
//   display:block;
//   background:url(http://i45.tinypic.com/muxvt1.png);
//   transition: all 1s linear;
// }




/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

/* scene wrapper */
.animation{
  // border: green solid 2px;
  height: 250px;
  position:relative;
  perspective: 800;
  perspective-origin: 50% 100px;
  background-color: rgba(255,255,255,0.0);
  margin-top: -60px;
}

/* cube wrapper */
.cube{
  position: relative;
  margin: 0 auto;
  width: 200px;
  transform-style: preserve-3d;
  animation: spin 8s infinite linear;
  transition: all 1s linear;
  z-index: 800;
}

img.textile {
  position:absolute;
  top:-700px;
  left:0px;
  height: 200px;
  transition: all 1s linear;
  // transition: top 0s -20px;
}
// a{
//     color:blue;
//     transition: color 0s;
// }
// a:hover{
//     transition: color 1s;
//     color: peachpuff;
// }

/* outer cube */
b{
  position:absolute;
  width:200px;
  height:200px;
  display:block;
  // background:rgba(249,215,24,0.7);
  background: $primary-accent-color;
  opacity: 0.7;
  box-shadow:inset 0 0 30px rgba(0,0,0,0.2);
  font-size:20px;
  text-align:center;
  line-height:200px;
  color:rgba(0,0,0,0.5);
  font-family:sans-serif;
  text-transform:uppercase;
  transition: all 1.5s linear;
}
b.back{
  transform: translateZ(-100px) rotateY(180deg);
  // background: $primary-dark-color;
  background:url(../images/front.png);
}
b.right{
  transform:rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background:url(../images/right.png);
}
b.left{
  transform:rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background:url(../images/left.png);
}
b.top{
  transform:rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background:url(../images/top.png);
}
b.bottom{
  transform:rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}
b.front{
  transform: translateZ(100px);
  background:url(../images/back.png);
}

/* hover transformations */
.cube:hover{
  top:0px;
}
.cube:hover b.top{
  transform: translateZ(100px) rotateX(-210deg);
  transform-origin: top center;
}
.cube:hover img.textile {
  top: -20px;
  transition: top 2s;
  // transition: height 2s;
  // height: 50px;
}

//////////////////////////////////////// END ANIMATION ///////////////

.cta {
  margin-top: -190px;
  height: auto;
  width: 100%;
  background-color: $primary-light-color;
  .ctaCopy {
    @include outer-container;
    padding-top: 180px;
    color: $primary-dark-color;
    text-align: center;
    >button {
      font-size: 1.5em;
      font-family: $sans-serif-body;
      font-weight: 700;
      border: 5px $primary-dark-color solid;
      border-radius: 0;
      color: $primary-dark-color;
      margin-top: 1em;
      margin-bottom: 1.5em; 
      background: none;
      &:hover {
        color: $primary-accent-color;
        border: 5px $primary-accent-color solid;
      }
    } 
    >h1 {
      font-family: $serif;
    }
    .misconception {
      @include span-columns(8);
      @include shift(2);
      padding-bottom: 40px;
      h3 {
        color: $primary-light-color;
        margin-top: 1.5em; 
        font-size: 1.0em;
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $primary-accent-color;
      }
      p {
        
        // width: 60%;
        padding: 10px;
        margin: 0 auto;
        border-top: 1px solid $primary-accent-color;
        border-bottom: 1px solid $primary-accent-color;
      }
    }
  } 
}


///////////////////////////////////////////////// 3 COL //////////////////////////////////////////////

.bullets {
  @include media($small-screen) {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  @include media($medium-screen) {
    padding-right: 100px;
    padding-left: 100px;
  }
  @include media($medium-screen) {
    padding-right: 0px;
    padding-left: 0px;
  }
  @include outer-container;
  $icon-bullet-size: 3.5em;
  overflow: auto;
  margin-bottom: $base-line-height;
  padding-top: $base-line-height;
  .three-col-bullet {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
  .bullet-icon {
    // float: left;
    margin: 0 auto;
    background: $base-accent-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }
  .bullet-icon-1 {
    background: $primary-accent-color;
      // &:hover {
      //   background: $primary-dark-color;
      // }
    .octicon-package {
      color: $primary-light-color;
    }
  }
  .bullet-icon-2 {
    background: $primary-accent-color;
      // &:hover {
      //   background: $primary-dark-color;
      // }
    .octicon-jersey {
      color: $primary-light-color;
    }
  }
  .bullet-icon-3 {
    background: $primary-accent-color;
      // &:hover {
      //   background: $primary-dark-color;
      // }
    .octicon-sync {
      color: $primary-light-color;
    }
  }
  .bullet-content {
    // margin-left: $icon-bullet-size *1.4;
    margin: 0 auto;
    margin-bottom: 0;
    padding: $icon-bullet-size /2; 
  }
  h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /8;
    // border-bottom: 1px solid transparentize($base-font-color, .8);
    display: inline-block;
  }
  p {
    color: $primary-dark-color;
    >a {
      color: $primary-accent-color;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mapTitle {
  // position: relative;
  h2 {
    background-color: $primary-accent-color ;
    // position: absolute;
    top: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    color:$primary-lightest-color;
    padding-top: 4px;
    padding-bottom: 4px;
    // padding-left: 4%;
  }
}

///////////////////////////////////////////////// FORM //////////////////////////////////////////////
#request-form {
  padding-top: 120px;
  @include outer-container;
  fieldset, #theform {
    @include span-columns(6);
    @include shift(3);
    border: none;
    border-top: 4px solid $primary-accent-color;
    // background-color: $primary-light-color;
    ::-webkit-input-placeholder { 
      color: $primary-dark-color;
    }
    p {
      margin-top: 20px;
    }
    input {
      border-radius: 0;
      background-color: $primary-accent-color;
      font-family: $serif;
      font-weight: normal;
      box-shadow: none;
      border: none;
      color: #fff;
      height: $base-line-height *2;
      // padding-left: 10px;
    }
  
    input.submit_button {
      font-size: 1.5em;
      font-family: $sans-serif-body;
      font-weight: 700;
      border: 5px $primary-dark-color solid;
      border-radius: 0;
      color: $primary-dark-color;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1.5em; 
      background: none;
      &:hover {
        color: $primary-accent-color;
        border: 5px $primary-accent-color solid;
      }
    }
  }
}

form label, form input {
    display: block;
}



// .zip-error {
//   display: hidden;
// }
///////////////////////////////////////////////// MAP //////////////////////////////////////////////

#map-canvas, 
#map-canvas1,
#map-canvas2,
#map-canvas3, 
#map-canvas4,
#map-canvas5, 
#map-canvas6,
#map-canvas7, 
#map-canvas8,
#map-canvas9, 
#map-canvas10 {
  height: 100%;
  width: 100%;
  .gm-style {
    div { // DO NOT STYLE
      div { // DO NOT STYLE
        div { // DO NOT STYLE
          div { 
            >div {}
            >div {}            
            >div {}
            >div {}

            .gm-style-iw {
              #content {
                width: 100%;
                height: 100%;
                .firstHeading {
                  font-family: $serif;
                  font-size: 1.3em;
                  >a {
                    color: $primary-accent-color; 
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                } 
              }
            }


          }
          div {
            >img {
              max-width: none;
            }
          }
        }
      }
    }
  }
}

// #content {
//   width: 100%;
//   height: 100%;
//  .firstHeading {
//     font-family: 'Droid Serif', serif;
//     font-size: 1.5em;
//     >a {
//       color: $primary-accent-color; 
//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   } 
// }

///////////////////////////////////////////////// CONFIRM //////////////////////////////////////////////

.thankyou {
  height: auto;
  width: 100%;
  background-color: $primary-light-color;
  section {
    @include outer-container;
    padding-top: 120px;
    padding-bottom: 40px;
    color: $primary-dark-color;
    text-align: center;
    >h1 {
      font-family: $serif;
    }
    >h6 {
      font-family: $sans-serif-body;
      margin-top: 10px;
      font-size: 0.75em;
    }
    .share {
      @include span-columns(6);
      @include shift(3);
      padding-top: 40px;
      li {
        display: inline-block;
        img {
          opacity: .85;
          height: 4.0em;
          padding: 4px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  } 
}

///////////////////////////////////////////////// FOOTER //////////////////////////////////////////////

footer {
  background-color: $primary-dark-color;
  padding: 2em;
  padding-bottom: 4em;
  width: 100%;
  >h6 {
    @include media($small-screen) {
      font-size: 1.0em;
      font-family: $serif;
      margin-left: 0em;
      text-transform: uppercase;
      color: $primary-light-color;
    }
    // @include media($medium-screen) {
    //   margin-left: 0em;
    // }
    @include media($large-screen) {
      margin-left: 1em;
      
    }
  }
  ul {
    margin-bottom: 1em;
    // @include media($medium-screen),
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0em;
    }
  }
  ul li {
    padding-right: 1em;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    
    @include media($medium-screen) {
      display: inline;
      text-align: left;
    }
  }
  ul li a {
    color: $primary-accent-color;
    &:hover {
      color: $primary-light-color;
    }
  }

  ul.footer-social {
      margin-top: 1em;
    @include media($large-screen) {
      float: right;
      margin-top: 0;
    }
    li {
      float: left;
      font-size: 1em;
      padding-right: .7em;

      &:last-child {
        padding-right: 0;
      }
    }
    img {
      opacity: .5;
      height: 2.0em;
      padding: 1px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
